[package]
name = "ouroboros-talos-resolver"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
# Workspace dependencies
anyhow = { workspace = true }
thiserror = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }

# Module resolution
node-resolve = { workspace = true }

[dev-dependencies]
tempfile = "3.15"
